.formulario {
    margin-top: 10%;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 30%;
}

#iniciar_sesion {
    font-size: 150%;
}

.registrarse{
    font-size: 150%;
    background-color: green;
    border-color: green;
}

.publicar{
    font-size: 100%;
    background-color: rgb(82, 187, 82);
    border-color: rgb(82, 187, 82);
}

#portada_libro{
    padding: 0px;
    zoom: 200%;
}

#titulo_libro{
    font-weight: 700;
    font-size:xx-large;
}

#mensaje_critica{
    font-weight: 500;
    font-size:xx-large;
    padding: 0px;

}

#titulo_resenas_lectores{
    font-weight: 700;
    font-size:xx-large;
    padding: 0px;
}

.imagen_principal{
    margin: 0px;
    padding: 0px;
}

.div_registrarse{
    text-align:center;
}

.texto_info{
    font-weight: 700;
}

#home{
    font-size: x-large !important;
    color: blue;
}

#footer{
    background-color: black;
    font-size: large;
    color: white ;
}
