{% extends "layout.html" %}

{% block title %}
  index
{% endblock %}

{% block main %}
  {% if session.id and libros %}    
    <table class="table">
      <thead> 
        <tr>
          <th scope="col">ISBN</th>
          <th scope="col">Titulo</th>
          <th scope="col">Autor</th>
          <th scope="col">Ano</th>
        </tr>
      </thead>
      <tbody>
        {% for i in libros %}
          <tr>
            <!-- target="_blank" abre nuevas paginas por cada libro -->
            <td><a target="_blank" href="paginalibro/{{i.isbn}}">{{i.isbn}}</a></td>
            <td>{{i.title}}</td>
            <td>{{i.author}}</td>
            <td>{{i.year}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
  <div>
    <img src="/static/images/fondo.jpg" class="img-thumbnail" alt="Responsive image" id="imagen_principal">    
  </div>
  {% endif %}
{% endblock %}
