{% extends "layout.html" %}

{% block title %}
    pagina_libro
{% endblock %}

{% block main%}
    {% for i in info %}
    <div class="container">
        <div class="row" >
            <p id="titulo_libro">{{i.title}}</p> 
        </div>
        <div class="row">
            <div class="col-2" id="portada_libro">
                <img src="{{imagen}}" class="img-thumbnail" alt="Responsive image">
            </div>
            <div class="col-8">
                <p> <span class="texto_info">ISBN :</span> {{i.isbn}}</p>
                <p> <span class="texto_info"> Autor:</span> {{i.author}}</p>
                <p> <span class="texto_info">Ano de publicacion:</span> {{i.year}}</p>    
                <p> <span class="texto_info">descripcion:</span>  {{descripcion}}</p>
                <p> <span class="texto_info">Valoración media:</span> {{averageRating}}</p>
                <p> <span class="texto_info">recuento de calificaciones:</span> {{ratingsCount}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-4">col-8</div>
            <div class="col-8">col-4</div>
        </div>
    </div>
    {% endfor %}

    {% for i in info %}
    <form action="/paginalibro/{{i.isbn}}" method="post">
        <div>
            <input type="text" name="resena">
            <button type="submit" id="resena" >publicar</button>      
        </div>
        <div>
            <select name="puntuacion">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </div>
    </form>
    {% endfor %}
{% endblock %}
